{% macro render_post(post) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ post.datetime | dateformat("%d/%m/%y") }}
                {{ post.author.name }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>

          <a href="{{ url_for('post_id', id=post.id) }} ">&larr; {{ post.title }} </a>
        </h1>
        {{ post.content | safe }}
    </div>
</div>
{% endmacro %}
<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('posts', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('posts', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>
